.alif{
	color:red;
	font-size:20px;
	text-transform:uppercase;
	font-family:arial black;
	
	
}

.nur{
color:black;

border-bottom:2px solid green;
border-top:2px solid red;
border-right:2px solid red;
border-left:2px solid green;
background:linear-gradient(red,green)
	
}



.md{
font-size:50px;
color:white;
text-transform:uppercase;
 font-family:arial black;


background:url(https://static.vecteezy.com/system/resources/thumbnails/001/234/358/small/modern-blue-halftone-banner-background.jpg);
width:500px;
height:200px;
display:block}



 
.B{color:red;
font-size:50px;
font-family:arial black}

.A{color:green;
 font-size:50px;
font-family:arial black}

.N{color:red;
font-size:50px;
font-family:arial black}

.G{color:green;
font-size:50px;
font-family:arial black}

.L{color:red;
font-size:50px;
font-family:arial black}

.a{color:green;
font-size:50px;
font-family:arial black}

.D{color:red;
font-size:50px;
font-family:arial black}

.E{color:green;
font-size:50px;
font-family:arial black}

.S{color:red;
font-size:50px;
font-family:arial black}

.H{color:green;
font-size:50px;
font-family:arial black}


  
.123(color:white)
 
 